<div class="mt-4">
  <container>
    <h2>My courses</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Rank</th>
          <th scope="col">Created</th>
          <th scope="col"> </th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <td scope="row">{{sum @index 1}}</td>

          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="" class="btn btn-link btn-restore" data-id={{this._id}}>Restore</a>
          </td>
          <td>
            <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course"
              data-id={{this._id}}>Delete</a>
          </td>

        </tr>

        {{else}}
        <tr class="text-center">
          <td colspan="5"> Bạn Chưa Đăng Khóa Học Nào</td>
          <a href="/courses/create">Thêm Khóa Học</a>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </container>
</div>

// delete the course
<div class="modal" tabindex="-1" role="dialog" id="delete-course">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-delete-course">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-form" method="post"></form>
<form name="restore-form" method="post"></form>

<script>
  var restoreForm = document.forms["restore-form"]; var CourseID; var
    btnDeleteCourse = document.getElementById("btn-delete-course"); var deleteForm
      = document.forms["delete-form"]; document.addEventListener("DOMContentLoaded",
        function () {
          $('#delete-course').on('show.bs.modal', function (event) {
            var
            button = $(event.relatedTarget); CourseID = button.data('id');
          });
        });
  btnDeleteCourse.onclick = function () {
    deleteForm.action = "/courses/" +
      CourseID + "?_method=DELETE"; deleteForm.submit();
  }
  document.addEventListener("DOMContentLoaded", function () {
    var btnRestore =
      $(".btn-restore"); btnRestore.click(function (e) {
        e.preventDefault();
        restoreForm.action = "/courses/" + $(this).data("id") +
          "/restore?_method=PATCH"; restoreForm.submit()
      })
  });
</script>